# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  19  27   5  42
1   4  90  25  97
2  43  45  91  19
3  69  30  62   9
4  87  48  24  24
5  34  83  71  97
DataFrame with new index:
     B   C   D
A
19  27   5  42
4   90  25  97
43  45  91  19
69  30  62   9
87  48  24  24
34  83  71  97

In [10]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,4)), columns = ['A','B','C','D'], index = ['X','Y','Z'])
print("Origina;=l Dataframe: ")
print(df)

element = df.at['Y','B']
print(f"The element at Y row and B column is {element}")

Origina;=l Dataframe:
    A   B   C   D
X  30  86  20  26
Y  51  43  63  24
Z  64  13  22  49
The element at Y row and B column is 43

In [12]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print("Original DataFrame: ")
print(df)

df['D'] = df['A']*df['B']
print("Modified")
print(df)

Original DataFrame:
    A   B   C
0   3  28  48
1  69  44   3
2  21  50  23
3  77  18  39
4   5  91  10
Modified
    A   B   C     D
0   3  28  48    84
1  69  44   3  3036
2  21  50  23  1050
3  77  18  39  1386
4   5  91  10   455

In [13]:
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['A','B','C'])
print("Original DataFrame: ")
print(df)

add = df.sum(axis=1)
add2 = df.sum(axis=0)

print(add)
print(add2)

Original DataFrame:
    A   B   C
0  65  22  20
1  70  38  10
2  32  16  61
3  84  97  11
0    107
1    118
2    109
3    192
dtype: int64
A    251
B    173
C    102
dtype: int64

In [19]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['A', 'B', 'C'])
print("Original Dataframe: ")
print(df)
print("\n")

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)
print("\n")

df.fillna(df.mean(),inplace=True)
print("Modified Dataframe:")
print(df)

Original Dataframe:
    A   B   C
0  63  73  53
1  52   2  65
2  92  19  85
3  38  31  60
4  40  61  61


DataFrame with NaN values:
      A     B     C
0  63.0   NaN  53.0
1  52.0   2.0  65.0
2  92.0  19.0   NaN
3  38.0  31.0  60.0
4   NaN  61.0  61.0


Modified Dataframe:
       A      B      C
0  63.00  28.25  53.00
1  52.00   2.00  65.00
2  92.00  19.00  59.75
3  38.00  31.00  60.00
4  61.25  61.00  61.00

In [21]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A', 'B', 'C','D'])
print("Original Dataframe: ")
print(df)
print("\n")

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)
print("\n")

df.dropna(inplace = True)
print("Modified Dataframe: ")
print(df)

Original Dataframe:
    A   B   C   D
0  15  58  47  13
1  12  71  24  29
2  91  11  19  70
3  85  86  95  78
4  14  40  33  25
5  46  58  35  73


DataFrame with NaN values:
      A     B     C   D
0  15.0   NaN  47.0  13
1  12.0  71.0  24.0  29
2  91.0  11.0   NaN  70
3  85.0  86.0  95.0  78
4   NaN  40.0  33.0  25
5  46.0  58.0  35.0  73


Modified Dataframe:
      A     B     C   D
1  12.0  71.0  24.0  29
3  85.0  86.0  95.0  78
5  46.0  58.0  35.0  73

In [22]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)
print("\n")

grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A      4
1        C      1
2        B     14
3        C     29
4        B      8
5        B     79
6        A     91
7        A     13
8        B     42
9        B     96


Grouped DataFrame:
          sum  mean
Category
A         108  36.0
B         239  47.8
C          30  15.0

In [23]:
df = pd.DataFrame({'Product':np.random.choice(["Electronics","Latex","Clothes"],size = 10),'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)
print("\n")

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
   Product Category  Sales
0    Latex        A     35
1    Latex        C     76
2    Latex        B     57
3    Latex        A     95
4  Clothes        A     16
5  Clothes        B     60
6  Clothes        C     60
7  Clothes        B     97
8    Latex        A     74
9    Latex        B     93


Grouped DataFrame:
Category
A    220
B    307
C    136
Name: Sales, dtype: int32

## **📌 Code Explanation: Data Grouping in Pandas**  
Yeh code **Pandas DataFrame** create kar raha hai **random values** ke saath, aur fir **'Category' column ke basis par grouping** karke **total sales ka sum** nikal raha hai. Chalo step-by-step samajhte hain! 🚀  

---

### **🔹 Step 1: Importing Libraries**  
```python
import pandas as pd
import numpy as np
```
✅ **Pandas** → **DataFrame banane aur manipulate karne ke liye**  
✅ **NumPy** → **Random values generate karne ke liye**  

---

### **🔹 Step 2: Creating a Random DataFrame**  
```python
df = pd.DataFrame({
    'Product': np.random.choice(["Electronics", "Latex", "Clothes"], size=10),
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Sales': np.random.randint(1, 100, size=10)
})
```
✅ **Ek DataFrame create kiya 10 rows ka, jisme:**  
🔹 **'Product' column** me `"Electronics", "Latex", "Clothes"` me se random values hain  
🔹 **'Category' column** me `"A", "B", "C"` me se random values hain  
🔹 **'Sales' column** me `1 se 100` ke beech random integers hain  

👉 **Example Output (DataFrame `df`)**:
```
     Product Category  Sales
0  Clothes        C     25
1  Latex          A     50
2  Clothes        B     30
3  Electronics    A     90
4  Latex          C     45
5  Clothes        B     65
6  Electronics    A     75
7  Latex          B     80
8  Clothes        C     20
9  Electronics    C     55
```

---

### **🔹 Step 3: Grouping by 'Category' and Summing 'Sales'**  
```python
grouped = df.groupby('Category')['Sales'].sum()
```
✅ **`df.groupby('Category')`** → Data ko **'Category' ke basis pe group** karega  
✅ **`['Sales'].sum()`** → Har category ke liye **total sales ka sum calculate karega**  
✅ **`grouped` ek Pandas Series return karega** jisme **index = 'Category'** aur **values = total sales**  

👉 **Example Calculation**:
```
Category A → 50 + 90 + 75 = 215
Category B → 30 + 65 + 80 = 175
Category C → 25 + 45 + 20 + 55 = 145
```

---

### **🔹 Step 4: Printing Grouped Data**  
```python
print("Grouped DataFrame:")
print(grouped)
```
👉 **Final Output:**
```
Grouped DataFrame:
Category
A    215
B    175
C    145
Name: Sales, dtype: int64
```
🔹 **Index = 'Category'**  
🔹 **Values = Total Sales**  

---

### **📌 Summary**
| Step | Kya Hora Hai? |
|------|--------------|
| 1️⃣ | **DataFrame create kiya** 10 rows ka random values ke saath. |
| 2️⃣ | **'Category' ke basis pe grouping kiya**. |
| 3️⃣ | **Har category ke 'Sales' ka sum calculate kiya**. |
| 4️⃣ | **Output ek Pandas Series return hui** jisme index = Category aur values = Total Sales. |

---

### **📌 Bonus: DataFrame Format Chahiye?**
Agar output **DataFrame format** me chahiye toh `.reset_index()` use kar sakte ho:
```python
grouped_df = df.groupby('Category', as_index=False)['Sales'].sum()
print(grouped_df)
```
🔹 Isse output ek **proper DataFrame ban jayega**:

| Category  | Sales  |
|-----------|--------|
| A         | 215    |
| B         | 175    |
| C         | 145    |

---

### **Ab Clear Hai? 😃🔥**
Agar aur kuch tweak karna ho ya visualization chahiye toh batao! 🚀

## **📌 `pd.merge(df1, df2, on='Key')` Explained! 🚀**  

Yeh Pandas ka **`.merge()` function** use karke **do DataFrames ko join** kar raha hai **common column 'Key' ke basis pe**. Chalo detail me samajhte hain! 🔥  

---

## **🔹 `pd.merge()` ka kaam kya hai?**  
`pd.merge()` Pandas me **SQL JOIN jaisa kaam karta hai**. Yeh **do DataFrames ko ek common column ke basis pe merge karta hai**.  

**Syntax:**  
```python
merged = pd.merge(df1, df2, on='Key')
```
🔹 **`df1`** → Pehla DataFrame  
🔹 **`df2`** → Dusra DataFrame  
🔹 **`on='Key'`** → Dono DataFrames me jo common column 'Key' hai, uske basis pe merge karega  

---

## **🔹 Example: Merge Two DataFrames**  
```python
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'Key': ['A', 'B', 'C'],
    'Value1': [100, 200, 300]
})

# Second DataFrame
df2 = pd.DataFrame({
    'Key': ['A', 'B', 'D'],
    'Value2': [10, 20, 40]
})

# Merging both DataFrames on 'Key'
merged = pd.merge(df1, df2, on='Key')

print(merged)
```

👉 **Output:**
```
  Key  Value1  Value2
0   A     100      10
1   B     200      20
```
✅ **Sirf woh rows aayi jisme 'Key' common tha (A & B).**  
✅ **'C' (df1 me tha) aur 'D' (df2 me tha) nahi aaye kyunki yeh default `inner join` hota hai.**  

---

## **🔹 Different Merge Types**
Agar **sare records lana hai** toh **different types of joins** use kar sakte hain:  

### **1️⃣ `how='inner'` (Default) → Sirf Common Values**
```python
merged = pd.merge(df1, df2, on='Key', how='inner')
```
✅ **Jo values dono me common hain, sirf wahi aayengi.** (Default behavior)  

---

### **2️⃣ `how='outer'` → Sabhi Rows Aayengi (`NaN` values ke saath)**
```python
merged = pd.merge(df1, df2, on='Key', how='outer')
```
👉 **Output:**
```
  Key  Value1  Value2
0   A   100.0    10.0
1   B   200.0    20.0
2   C   300.0     NaN
3   D     NaN    40.0
```
✅ **Jo values kisi ek DataFrame me bhi hain, sabhi aayengi.**  
✅ **Missing values ko `NaN` se fill karega.**  

---

### **3️⃣ `how='left'` → Left Table ke Sare Rows**
```python
merged = pd.merge(df1, df2, on='Key', how='left')
```
👉 **Output:**
```
  Key  Value1  Value2
0   A     100    10.0
1   B     200    20.0
2   C     300     NaN
```
✅ **df1 ka pura data aayega, df2 se sirf matching rows.**  

---

### **4️⃣ `how='right'` → Right Table ke Sare Rows**
```python
merged = pd.merge(df1, df2, on='Key', how='right')
```
👉 **Output:**
```
  Key  Value1  Value2
0   A   100.0      10
1   B   200.0      20
2   D     NaN      40
```
✅ **df2 ka pura data aayega, df1 se sirf matching rows.**  

---

## **📌 Summary Table**
| Merge Type | Description |
|------------|------------|
| **Inner Join** (`how='inner'`) | **Sirf Common Values** |
| **Outer Join** (`how='outer'`) | **Sare Rows (Missing ko NaN)** |
| **Left Join** (`how='left'`) | **df1 ka pura data, df2 se sirf matching** |
| **Right Join** (`how='right'`) | **df2 ka pura data, df1 se sirf matching** |

---

## **🔥 Final Takeaway**
✔ **`pd.merge(df1, df2, on='Key')` inner join karta hai by default.**  
✔ **Agar sare records chahiye toh `how='outer'`, `how='left'`, ya `how='right'` use karo.**  
✔ **SQL `JOIN` ki tarah kaam karta hai!**  

---

### **⚡️ Clear Hai Bhai? 😃🔥**
Agar aur examples ya real-world use case chahiye toh batao! 🚀